/* Global elements */
h1 {
  font-size:2rem;
}
h2 {
  font-size:1.5rem;
}
/* Header */
nav ul {
  background-color:transparent;
}
nav ul li {
  display:block;
  background-color:#000;
}
nav a {
  font-size:1.4rem;
}
nav .icon {
  display:block;
}
/* Projects */
#projects {
  padding:1rem 5vw 1rem 5vw;
}    
/* About */
#about {
  padding:1rem 5vw 1rem 5vw;
}
#about-left {
  width:90vw;
}
/* Skills */
#skills {
  padding:1rem 5vw 1rem 5vw;
}
#skills ul li {
  margin:0 1.25rem 1.25rem 0;
  width:90px;
}
#skills ul li img {
  width:90px;
}