/* Global elements */
html {
  font-family: "Open Sans", Helvetica, sans-serif;
  color:#5d5a55;
}
h1 {
  font-family:"Abeezee", sans-serif;
  font-size:2rem;
  margin-top:0;
}
h2 {
  font-family:"Abeezee", sans-serif;
  font-size:1.5rem;
  text-align:center;
  margin-top:0;
  color:#fff;
}
ul {
  margin:0;
}
.body-text-link {
  color:#ac6b36;
  text-decoration:none;
  font-weight:bold;
  border-bottom:1px solid #ac6b36;
}
.btn {
  background-color:transparent;
  border-radius:7px;
  padding:0 1rem 0 0;
  text-decoration:none;
  text-transform:uppercase;
  color:#fff;
}
.btn img {
  height:2.5rem;
  padding:0;
  padding-right:1rem;
}
.btn-container-1 {
  display:flex;
    flex-flow:row wrap;
    align-items:flex-end;
    align-content:center;
    justify-content:flex-end;
}
.btn-container-1 .btn {
  border:2px solid #ac6b36;
  color:#ac6b36;
}
/* Nav */
nav {
  background-color:#010829;
  text-align:right;
  display:flex;
  flex-flow:row nowrap;
  position:sticky;
  top:0;
  z-index:100;
}
nav #social {
  flex:1;
  list-style:none;
  padding:0;
  float:left;
}
nav #social li {
  display:inline-block;
  margin:2vw;
}
nav #social li span {
  text-decoration:none;
  color:#fff;
  font-size:1.25rem;
  width:2vw;
  margin:0;
  padding:0;
}
nav #social li img {
  width:8vw;
}
nav #menu {
  flex:1;
  background-color:#010829;
  padding:0;
  list-style:none;
  overflow:hidden;
}
nav #menu li {
  display:none;
  padding:0.5rem;
  text-decoration:none;
}
nav #menu li:last-child {
  display:block;
}
i.fa-bars {
  font-size:2.25rem;
}
nav #menu a {
  color:#fff;
  font-size:1.2rem;
  font-weight:bold;
  text-decoration:none;
  text-transform:uppercase;
}
nav #menu .icon {
  display:block;
}
nav.expanded #menu {
  position:absolute;
  top:0;
  right:0;
}
nav.expanded #menu li {
  display:block;
}
nav.expanded #menu li a {
  display:block;
}
nav.expanded #menu li a.icon {
  display:block;
}
/* Hero */
#hero {
  background-color:#010829;
  background-image:url("../img/earth-sunrise-vertical.jpg");
  background-size:cover;
  background-position:center;
  min-height:95vh;
  padding-bottom:5vh;
}
#hero-area {
  display:flex;
    flex-flow:row wrap;
    align-items:center;
    align-content:space-between;
    justify-content:center;
  position:relative;
    top:30vh;
    width:100%;
    height:69vh;
}
#hero-area-row-1 {
  width:90%;
  display:flex;
    flex-flow:row nowrap;
    align-items:center;
    align-content:flex-end;
    justify-content:space-around;
}
#alex {
  flex:0 1 auto;
  font:3.25rem "Abeezee", Verdana, sans-serif;
  color:#fff;
  line-height:2.25rem;
}
#crist {
  flex:0 1 auto;
  font:2.5rem "Abeezee", Verdana, sans-serif;
  color:#fff;
}
#hero-area-row-1 .btn {
  background-color:#ac6b36;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(255,255,255,1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(255,255,255,1);
  box-shadow: 3px 3px 0px 0px rgba(255,255,255,1);
  padding:0.5rem 1rem;
}
#hero-area-row-2 {
  background:#fff;
  text-align:center;
  width:100%;
  font-family:"Abeezee", sans-serif;
  padding:1rem 0 0.5rem 0;
}
#fedev {
  font-size:1.5rem;
  font-weight:bold;
  line-height:1rem;
}
#one-liner {
  font-size:0.9rem;
  padding-top:15px;
  font-weight:normal;
}
#hero-area-row-3 {
  margin:15rem 1rem 1rem 1rem;
  padding:0.5rem;
  background-color:#010829;
  text-align:center;
}
#hand-coded {
  color:#fff;
  flex:0 1 100%;
  align-self:flex-end;
  font-size:1rem;
  line-height:1.25rem;
  padding-top:30px;
  text-align:center;
}
/* Projects */
section#projects:target::before {
  content:"";
  display:block;
  height:50px;
}
#projects {
  background-color:#f3f4f6;
  display:flex;
  flex-flow:column wrap;
  justify-content:center;
  align-items:center;
  padding:1rem 5vw 1rem 5vw;
}    
#projects h1 {
  align-self:flex-start;
}
#projects ul {
  list-style:none;
  padding:0;
  width:300px;
}
#projects ul li {
  display:inline-block;
  background-color:#fff;
  margin:0rem 0rem 1.75rem 0rem;
  width:300px;
  height:515px;
  padding-bottom:0rem;
  box-shadow:
  0 3px 4px -3px rgba(1, 8, 41, 0.2), 
  0 3px 4px rgba(1, 8, 41, 0.1), 
  0 2px 4px rgba(1, 8, 41, 0.1);
}
#projects ul li span {
  display:inline-block;
  width:100%;
  text-align:left;
  font:500 1rem/1rem "Segoe UI", Verdana, sans-serif;
  padding:0.5rem 0;
}
#project-info {
  padding:0 0.75rem;
}
#project-info p {
  font-size:0.9rem;
  line-height:1.1rem;
  text-align:justify;
  height:100px;
  margin-top:0;
}
/* About */
section#about:target::before {
  content:"";
  display:block;
  height:50px;
}
#about {
  height:auto;
  padding:1rem 5vw 1rem 5vw;
}
#about h1 {
  align-self:flex-start;
}
#about p {
  text-align:justify;
  text-indent:0.5rem;
}
#about-left {
  display:flex;
    flex-flow:row wrap;
    align-items:center;
    align-content:center;
    justify-content:flex-start;
    width:90vw;
}
/* Skills */
section#skills:target::before {
  content:"";
  display:block;
  height:50px;
}
#skills {
  background-color:#e9eaf0;
  padding:1rem 5vw 1rem 5vw;
  display:flex;
  flex-flow:column wrap;
  justify-content:center;
  align-items:center;
}
#skills h1 {
  align-self:flex-start;
}
#skills ul {
  list-style:none;
  padding:0;
}
#skills ul li {
  display:inline-block;
  background-color:#fff;
  margin:0 3vw 5vw 0;
  width:90px;
  padding-bottom:0rem;
  box-shadow:
  0 3px 4px -3px rgba(0, 0, 0, 0.2), 
  0 3px 4px rgba(0, 0, 0, 0.1), 
  0 2px 4px rgba(0, 0, 0, 0.1);
}
#skills ul li span {
  display:inline-block;
  width:100%;
  text-align:center;
  font:500 0.9rem/1rem "Segoe UI", Verdana, sans-serif;
  padding:0.5rem 0;
}
#skills ul li img {
  width:90px;
}
/* Footer */
#contact {
  background-color:#ac6b36;
  text-align:center;
  padding:2rem 0;
}
#contact p {
  font-size:1.4rem;
  color:#fff;
}