/* ==========================================================================
   Global elements
   ========================================================================== */
   html {
    font-family:"Segoe UI", Verdana, sans-serif;
  }
  h1 {
    font-family:"Courier Prime", "Courier New", serif;
    font-size:2.5rem;
    line-spacing:2.5rem;
    margin-top:0;
  }
  h2 {
    font-family:"Courier Prime", "Courier New", serif;
    font-size:1.75rem;
    line-spacing:1.75rem;
    text-align:center;
    margin-top:0;
    color:#fff;
  }
  ul {
    margin:0;
  }
  .body-text-link {
    color:#0a77be;
    text-decoration:none;
    font-weight:bold;
  }
  .btn {
    background-color:transparent;
    border-radius:6px;
    padding:0 1rem 0 0;
    text-decoration:none;
    text-transform:uppercase;
  }
  .btn-white {
    border:2px solid #fff;
    color:#fff;
  }
  .btn-blue {
    border:2px solid #1f7fbe;
    color:#1f7fbe;
  }
  .btn img {
    height:2.5rem;
    padding:0 1rem 0 0;
  }
  .btn-container-1 {
    display:flex;
      flex-flow:row wrap;
      align-items:flex-end;
      align-content:center;
      justify-content:flex-end;
  }
  .blue {
    color:#1f7fbe;
  }
  /* ==========================================================================
     Header
     ========================================================================== */
  #welcome {
    background-image:url(../img/hero-bg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    height:100vh;
  }
  nav {
    text-align:right;
  }
  nav ul {
    position:fixed;
    top:0;
    right:0;
    width:100%;
    z-index:99;
    background-color:#13e3d3;
    background-color:#222;
    padding:0.5rem 0;
  }
  nav ul li {
    display:inline;
    padding:0rem 2.5rem;
    text-decoration:none;
  }
  nav a {
    color:#fff;
    font-size:0.9rem;
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;
  }
  nav a:hover {
    border-bottom:2px solid #fff;
    position:relative;
    top:2px;
  }
  #greeting {
    display:flex;
      flex-flow:row wrap;
      align-items:center;
      align-content:center;
      justify-content:center;
    position:relative;
      top:30vh;
      width:100vw;
  }
  #headshot {
    flex:0 1 155px;
    padding-right:30px;
  }
  #hi-im {
    flex:0 1 auto;
    font-size:2.5rem;
  }
  #alex {
    flex:0 1 auto;
    font-size:3rem;
    font-family:"Halimun", cursive;
    padding-left:10px;
  }
  #one-liner {
    flex:0 1 100%;
    font-family:"Courier Prime", "Courier New", serif;
    font-size:2rem;
    padding-top:50px;
    text-align:center;
  }
  #hand-coded {
    color:#fff;
    flex:0 1 100%;
    font-size:1.25rem;
    font-style:italic;
    padding-top:50px;
    text-align:center;
  }
  #greeting a.btn {
    position:relative;
    top:50px;
  }
  /* ==========================================================================
     Projects
     ========================================================================== */
  #projects {
    background-color:#e9eaf0;
    padding:3rem 15vw 2rem 15vw;
  }
  #projects ul {
    list-style:none;
    padding:0;
  }
  #projects ul li {
    display:inline-block;
    background-color:#fff;
    margin:0rem 0.75rem 0.75rem 0rem;
    width:300px;
    height:550px;
    padding-bottom:0rem;
    box-shadow:
    0 3px 4px -3px rgba(0, 0, 0, 0.2), 
    0 3px 4px rgba(0, 0, 0, 0.1), 
    0 2px 4px rgba(0, 0, 0, 0.1);
  }
  #projects ul li span {
    display:inline-block;
    width:100%;
    text-align:left;
    font:500 1rem/1rem "Segoe UI", Verdana, sans-serif;
    padding:0.5rem 0;
    border-top:2px solid #1f7fbe;
  }
  #project-info {
    padding:0 0.75rem;
  }
  #project-info p {
    font-size:0.8rem;
    color:#606165;
    height:120px;
  }
  /* ==========================================================================
     About
     ========================================================================== */
     #about {
      height:50vh;
      padding:3rem 15vw 2rem 15vw;
    }
    #about p{
      text-align:justify;
    }
    #about-left {
      display:flex;
        flex-flow:row wrap;
        align-items:center;
        align-content:center;
        justify-content:flex-start;
      width:25vw;
    }
  /* ==========================================================================
     Skills
     ========================================================================== */
  #skills {
    background-color:#e9eaf0;
    padding:3rem 15vw 2rem 15vw;
  } 
  #skills ul {
    list-style:none;
    padding:0;
  }
  #skills ul li {
    display:inline-block;
    background-color:#fff;
    margin:0rem 1.75rem 1.75rem 0rem;
    width:120px;
    padding-bottom:0rem;
    box-shadow:
    0 3px 4px -3px rgba(0, 0, 0, 0.2), 
    0 3px 4px rgba(0, 0, 0, 0.1), 
    0 2px 4px rgba(0, 0, 0, 0.1);
  }
  #skills ul li span {
    display:inline-block;
    width:100%;
    text-align:center;
    font:500 0.9rem/1rem "Segoe UI", Verdana, sans-serif;
    padding:0.5rem 0;
  }
  /* ==========================================================================
     Footer
     ========================================================================== */
  #contact {
    background-color:#1f7fbe;
    text-align:center;
    padding:2rem 15vw 2rem 15vw;
  }
  #contact ul {
    list-style:none;
    padding:0;
  }
  #contact ul li {
    display:inline-block;
    margin:0 1rem;
  }
  #contact ul li img {
    width:35px;
  }