/* About */
  #about {
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    align-content:center;
    padding:1rem 5vw 1rem 5vw;
    background-color:#f0f0f0;
    #about-text {
      display:flex;
        flex-flow:column;
        align-items:flex-start;
        align-content:center;
        justify-content:space-around;
      max-width:800px;
      p {
        font-size:1.4rem;
        max-width:500px;
        line-height:2rem;
        text-align:justify;
        text-indent:0.5rem;
      }
      #available-hire {
        color:$green1;
        text-decoration:none;
        font-weight:bold;
        border-bottom:1px solid $green1;
        font-size:2rem;
      }
      .img-subtext {
        background-color:$purple4;
        color:$lite-grey;
        font-size:1.2rem;
        display:block;
        padding:3px 10px;
      }
      .img-in-text {
        max-width:500px;
        text-indent:0;
      }
      img {
        width:100%;
      }
    }
  }