/* Footer */
#footer {
  #bottom-row {
    background-color:$purple1;
    padding:0.25rem;
    p {
      font-size:1.1rem;
      color:$lite-grey;
      text-align:center;
    }
    a {
      text-decoration:none;
      color:$lite-grey;
    }
  }
}