/* Global elements */
html {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size:10px;
    color:$purple1;
  }
  body {
    background-color:$lite-grey;
  }
  section {
    border-top:1px solid $purple3;
  }
  h1 {
    @include poppins900;
    font-size:36px;
    color:$purple1;
    align-self:center;
    text-align:center;
    margin:0;
  }
  h2 {
    @include poppins900;
    font-size:30px;
    color:$purple1;
    align-self:center;
    text-align:center;
    padding-top:14px;
    margin:0;
  }
  h3 {
    @include poppins700;
    font-size:16px;
    padding:0 10vw;
    color:$purple4;
    align-self:center;
    text-align:center;
    margin:0;
    margin-bottom:10px;
    max-width:500px;
  }
  ul {
    margin:0;
  }
  button {
    background:none;
    border:0;
    padding:0;
  }
  .btn-primary {
    @include btn-base;
    background-color:$green1;
    color:$white;
    padding:10px;
  }
  .btn-secondary {
    @include btn-base;
    background-color:$white;
    color:$green1;
    border:2px solid $green1;
    padding-right:16px;
    img {
      height:35px;
      padding:0px;
      padding-right:16px;
    }
  }
section#projects:target::before,
section#about:target::before,
section#skills:target::before   {
  content:"";
  display:block;
  height:35px;
}
section#hero:target::before   {
  content:"";
  display:block;
  height:0px;
}