

/* Hero */
#hero-area-row-1 {
  width:500px;
}
#hero-area-row-2 img {
  max-width:30vw;
}
#hero-area-row-3 p {
  width:500px;
  padding:0 3rem;
}
/* Projects */
#projects {
    padding-top:1rem;
}
#projects ul {
    width:630px;
  }
/* Skills */
#skills ul {
    width:490px;
  }
  #skills ul li:nth-child(4n+4) { /* resets margin from base.css */
    margin-right:10px;
  }
  #skills ul li:nth-child(5n+5) {
    margin-right:0;
  }