/* Variables */
/* Mixins */
/* Global elements */
html {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 10px;
  color: #15153e; }

body {
  background-color: #f0f0f0; }

section {
  border-top: 1px solid #c1c3d6; }

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: #15153e;
  align-self: center;
  text-align: center;
  margin: 0; }

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #15153e;
  align-self: center;
  text-align: center;
  padding-top: 14px;
  margin: 0; }

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 0 10vw;
  color: #5358ad;
  align-self: center;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  max-width: 500px; }

ul {
  margin: 0; }

button {
  background: none;
  border: 0;
  padding: 0; }

.btn-primary {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 0 3px 4px -3px rgba(1, 8, 41, 0.2), 0 3px 4px rgba(1, 8, 41, 0.1), 0 2px 4px rgba(1, 8, 41, 0.1);
  background-color: #4EA346;
  color: #ffffff;
  padding: 10px; }

.btn-secondary {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 0 3px 4px -3px rgba(1, 8, 41, 0.2), 0 3px 4px rgba(1, 8, 41, 0.1), 0 2px 4px rgba(1, 8, 41, 0.1);
  background-color: #ffffff;
  color: #4EA346;
  border: 2px solid #4EA346;
  padding-right: 16px; }
  .btn-secondary img {
    height: 35px;
    padding: 0px;
    padding-right: 16px; }

section#projects:target::before,
section#about:target::before,
section#skills:target::before {
  content: "";
  display: block;
  height: 35px; }

section#hero:target::before {
  content: "";
  display: block;
  height: 0px; }

/* Nav */
nav {
  background-color: #15153e;
  text-align: right;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 100; }
  nav #top {
    display: flex; }
    nav #top #social {
      flex: 4;
      list-style: none;
      padding: 3px;
      position: relative;
      top: 0;
      left: 0;
      text-align: left;
      z-index: 101;
      height: 48px; }
      nav #top #social #alex-crist {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-size: 26px;
        color: #f0f0f0;
        position: relative;
        top: 15px;
        left: 15px; }
      nav #top #social li {
        display: inline-block;
        margin: 5px 7px 5px 5px; }
        nav #top #social li img {
          width: 35px; }
      nav #top #social a {
        flex: 1; }

#menu {
  background-color: #3C3E98;
  flex: 1;
  padding: 0;
  list-style: none;
  overflow: hidden;
  align-self: flex-end;
  width: 100%; }
  #menu li {
    display: none;
    padding: 8px;
    text-decoration: none;
    margin: 0;
    border-bottom: 1px solid #5358ad; }
  #menu li:hover {
    background-color: #4EA346; }
  #menu li:last-child {
    border: 0; }
  #menu a {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #f0f0f0;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    padding: 7px; }

#menu-toggle-btn {
  display: block;
  background-color: #3C3E98; }

#menu-toggle-icon {
  font-size: 24px;
  padding: 15px;
  color: #f0f0f0; }

#menu.menu-open li {
  display: block; }

#menu.menu-open li a {
  display: block; }

#menu.menu-open li a.icon {
  display: block; }

/* Hero */
#hero {
  height: 90vh; }

#hero-area {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 90vh; }

#hero-area-row-1 {
  width: 96vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: flex-end;
  justify-content: space-around; }

#hero-area-row-1 .btn {
  background-color: #0d122d;
  box-shadow: 3px 3px 0px 0px white;
  padding: 0.75rem 1rem; }

#hero-area-row-2 {
  text-align: center;
  width: 90vw;
  max-width: 300px;
  padding: 1rem 0 0.5rem 0;
  color: #f0f0f0; }
  #hero-area-row-2 .card-rounded-with-shadow {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 4px -3px rgba(1, 8, 41, 0.2), 0 3px 4px rgba(1, 8, 41, 0.1), 0 2px 4px rgba(1, 8, 41, 0.1); }
  #hero-area-row-2 h1 {
    display: inline;
    border-bottom: 5px solid #4EA346; }
  #hero-area-row-2 .highlighted {
    background-color: #15153e;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 17px;
    line-height: 40px;
    padding: 8px 4px 4px 4px; }
  #hero-area-row-2 .poppins700 {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 18px; }

#title {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1rem; }

#subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding-top: 15px;
  font-weight: 500; }

#hero-area-row-2 img {
  margin-top: 3rem;
  width: 50vw; }

#hero-area-row-3 {
  padding: 0;
  text-align: center;
  width: 100vw;
  justify-content: center;
  overflow-x: hidden; }

#hero-area-row-3 p {
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: #f0f0f0;
  margin: 0 auto;
  padding: 0 20vw;
  text-align: left;
  text-indent: 0.75rem; }

#hero-area-row-3 img {
  width: 4000px;
  position: relative;
  transform: translateX(-2000px) translateX(50vw); }

/* Projects */
#projects {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 200px auto; }
  #projects ul {
    list-style: none;
    padding: 0;
    width: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    #projects ul li {
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 3px 4px -3px rgba(1, 8, 41, 0.2), 0 3px 4px rgba(1, 8, 41, 0.1), 0 2px 4px rgba(1, 8, 41, 0.1);
      display: inline-block;
      margin: 0rem 0rem 1.75rem 0rem;
      width: 300px;
      height: 450px;
      padding-bottom: 0rem; }
      #projects ul li > img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; }
      #projects ul li span {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        color: #15153e;
        display: inline-block;
        width: 100%;
        text-align: left;
        font-size: 17px;
        font-weight: 900;
        padding: 0.5rem 0; }

#project-info {
  padding: 0 0.75rem; }
  #project-info p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: justify;
    margin-top: 0; }
  #project-info div {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    align-content: center;
    justify-content: flex-end; }

/* About */
#about {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1rem 5vw 1rem 5vw;
  background-color: #f0f0f0; }
  #about #about-text {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    align-content: center;
    justify-content: space-around;
    max-width: 800px; }
    #about #about-text p {
      font-size: 1.4rem;
      max-width: 500px;
      line-height: 2rem;
      text-align: justify;
      text-indent: 0.5rem; }
    #about #about-text #available-hire {
      color: #4EA346;
      text-decoration: none;
      font-weight: bold;
      border-bottom: 1px solid #4EA346;
      font-size: 2rem; }
    #about #about-text .img-subtext {
      background-color: #5358ad;
      color: #f0f0f0;
      font-size: 1.2rem;
      display: block;
      padding: 3px 10px; }
    #about #about-text .img-in-text {
      max-width: 500px;
      text-indent: 0; }
    #about #about-text img {
      width: 100%; }

/* Skills */
section#skills:target::before {
  content: "";
  display: block;
  height: 35px; }

#skills {
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center; }

#skills ul {
  list-style: none;
  padding: 0;
  width: 290px;
  justify-self: center; }

#skills ul li {
  display: inline-block;
  background-color: #fff;
  margin: 0 10px 10px 0;
  width: 90px;
  padding-bottom: 0rem;
  box-shadow: 0 3px 4px -3px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1); }

#skills ul li:nth-child(3n+3) {
  margin-right: 0; }

#skills ul li span {
  font-size: 1.4rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0; }

#skills ul li img {
  width: 90px; }

/* Contact */
#contact {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }

#contact-form {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 4px -3px rgba(1, 8, 41, 0.2), 0 3px 4px rgba(1, 8, 41, 0.1), 0 2px 4px rgba(1, 8, 41, 0.1);
  padding: 20px;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 40px; }
  #contact-form input, #contact-form textarea {
    width: 220px;
    padding: 10px;
    margin: 3px;
    border: 1px solid #c1c3d6;
    border-radius: 7px; }

::placeholder {
  color: #5d5a55; }

/* Footer */
#footer #bottom-row {
  background-color: #15153e;
  padding: 0.25rem; }
  #footer #bottom-row p {
    font-size: 1.1rem;
    color: #f0f0f0;
    text-align: center; }
  #footer #bottom-row a {
    text-decoration: none;
    color: #f0f0f0; }

/* debug 
* { box-sizing:border-box; border:1px dotted red; }*/
